<div id="navbar_plugin_external_temp_reader">
    <span class="navbar-text">
        <i class="fa fa-thermometer-half"></i>
        Chamber: <span data-bind="text: temperature"></span>
    </span>
</div>